@use 'sass:map';
@use '../../color/index.scss' as *;
$menu-border-right: map.get($pro-gray-colors, 'light', 'light-7');
@mixin vertical {
  --el-menu-item-font-size: 14px;
  --el-menu-item-height: 36px;
  --el-menu-border-color: #fff;
  --el-menu-bg-color: #fff;
}
$--el-menu-item-height: 36px;
$--el-menu-item-space: 16px;
:deep(.el-menu) {
  @include vertical;
}
:deep(.el-sub-menu .el-menu-item) {
  height: $--el-menu-item-height;
  line-height: $--el-menu-item-height;
}
:deep(.el-menu--collapse) {
  .el-sub-menu__title,
  .el-menu-item {
    padding-left: 8px !important;
    span {
      .svg-icon {
        margin-right: 8px !important;
      }
    }
  }
}
.vertical-menu {
  width: 100%;
  height: 100%;
  padding: 12px 0;
  overflow: hidden;
  background: #fff;
  border-right: 1px solid $menu-border-right;
}
