:deep(.el-table) {
  --el-table-header-bg-color: #e6e6e6;
  --el-table-header-text-color: #222222;
  --el-table-text-color: #555555;
  --el-table-bg-color: #fff;
  --el-table-tr-bg-color: #fff;
  --el-table-expanded-cell-bg-color: #fff;
}

:deep(.el-table__body td.el-table__cell) {
  padding: 0 !important;
}
