@use 'sass:map';
@use '../color/index.scss' as *;
$dialog-border-color: map.get($pro-gray-colors, 'light', 'light-6');
@mixin me-dialog-row {
  margin-right: 0;
  padding-bottom: 0;
  padding: 8px 20px;
  border: 1px solid $dialog-border-color;
}
:deep(.el-dialog__header) {
  @include me-dialog-row;
}
:deep(.el-dialog__body) {
  padding: 16px 20px;
}
:deep(.el-dialog__footer) {
  @include me-dialog-row;
}
:deep(.el-dialog__headerbtn) {
  top: 0;
  right: 8px;
  width: 40px;
  height: 40px;
}
