@use 'sass:map';
@use '../color/index.scss' as *;
@use '../common/var.scss' as *;
$layout-header-bg: map.get($pro-primary-colors, 'light-1');
$layout-header-height: 48px;
$layout-header-padding: map.get($item-space, 'small')
  map.get($item-space, 'base');
$layout-main-header-height: 72px;
$layout-header-item-height: 36px;
$layout-breadcrumb-space: 12px 20px;
$layout-main-comp-space: 0 16px;
.app-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  &-nav {
    width: 100%;
    background: $layout-header-bg;
    height: $layout-header-height;
  }
  &-main {
    position: fixed;
    top: $layout-header-height;
    width: 100%;
    height: calc(100% - #{$layout-header-height});
    background: #f9f9f9;
    .app-main-header {
      width: 100%;
      height: $layout-main-header-height;
      .header-item-tags {
        width: 100%;
        height: $layout-header-item-height;
        background: #eef0f4;
      }
      .header-item-bread {
        width: 100%;
        height: $layout-header-item-height;
        padding: $layout-breadcrumb-space;
        display: flex;
      }
    }
    .app-main-comp {
      width: 100%;
      height: calc(100% - $layout-main-header-height);
    }
  }
}
:deep(.el-sub-menu .el-sub-menu__icon-arrow) {
  right: 0 !important;
}
