@use 'sass:map';
@use '../color/index.scss' as *;
@use '../common/var.scss' as *;
$login-box-shadow: map.get($pro-primary-colors, 'light-1');
$login-box-color: map.get($pro-gray-colors, 'light', 'light-1');
$login-title-font-size: 18px;
.login {
  background: url('~@/assets/image/login-back.png');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  &-box {
    display: flex;
    width: 70vw;
    height: 70vh;
    margin: 15vh 15vw;
    background: #fff;
    box-shadow: 0px 2px 12px 0px $login-box-shadow;
    border-radius: 12px;
    &-pic {
      background: url('~@/assets/image/login-pic.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 50%;
      height: 100%;
    }
    &-content {
      width: 50%;
      height: 100%;
      background: #fff;
      //   display: grid;
      //   place-items: center;
      border-radius: 0 8px 8px 0;
      .login-content-title {
        margin: 10vh 0;
        width: 100%;
        display: grid;
        place-items: center;
        line-height: 36px;
        &-cn {
          font-size: $login-title-font-size;
          font-family: YouYuan;
          color: $login-box-color;
          text-align: center;
        }
        &-img {
          width: 10vw;
        }
      }
      .login-content-form {
        width: 100%;
        display: grid;
        place-items: center;
        &-input {
          width: 24vw;
          height: 5vh;
          border-radius: 4px;
          margin-bottom: 8px;
          :deep(.el-input__inner) {
            width: 16vw;
            height: 5vh;
          }
        }
        :deep(el-input__wrapper) {
          width: 20vw;
          height: 5vh;
        }
        &-button {
          margin-top: 8px;
          text-align: center;
          width: 24vw;
          height: 5vh;
          border-radius: 4px;
        }
      }
    }
  }
}
